<div ng-controller="buyerController">

  <div class="body-container" style="margin-top:40px">
    <!-- left sidebar -->
    <div class="col-md-3">
      <!-- Profil İnfo -->
      <div class="span3 well">
        <center>
          <a href="#aboutModal" data-toggle="modal">
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="100" height="100" class="img-circle">
            </a>
          <h3>Harun Keleşoğlu</h3>
        </center>
      </div>
      <center>
        <h4>Orders</h4>
      </center>
      <hr>
      <!-- order lists -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">#</h3>
              <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#waiting" data-toggle="tab">waiting</a></li>
                            <li><a href="#preparing" data-toggle="tab">preparing</a></li>
                            <li><a href="#inRoad" data-toggle="tab">inRoad</a></li>
                            <li><a href="#completed" data-toggle="tab">completed</a></li>
                        </ul>
                    </span>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <div class="tab-pane active" id="waiting">
                  <div class="order waiting">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                                <span class="glyphicon glyphicon-map-marker"></span> Map
                            </a>
                    </div>
                  </div>
                  <div class="order waiting">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                  <div class="order waiting">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                  <div class="order waiting">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="preparing">
                  <div class="order preparing">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="inRoad">
                  <div class="order inRoad">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                  <div class="order inRoad">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                              <span class="glyphicon glyphicon-map-marker"></span> Map
                          </a>
                    </div>
                  </div>
                </div>

                <div class="tab-pane" id="completed">
                  <div class="order completed">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                                <span class="glyphicon glyphicon-map-marker"></span> Map
                            </a>
                    </div>
                  </div>
                  <div class="order completed">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                                <span class="glyphicon glyphicon-map-marker"></span> Map
                            </a>
                    </div>
                  </div>
                  <div class="order completed">
                    <div class="order-photo col-md-3"><img src="https://camo.githubusercontent.com/e2a3c9a90a437976144c11bb1bcaf78200fe275c/68747470733a2f2f7777772e696d61676575706c6f61642e636f2e756b2f696d616765732f323031382f30322f31362f38323738353534312d363036632d343530362d383261652d3766656639313666613762332e706e67"
                        width="100" height="100" alt="" /></div>
                    <div class="order-info col-md-5">
                      <div class="order-name">Order Name</div>
                      <hr>
                      <div class="order-product-name">Order Product Name</div>
                    </div>
                    <div class="order-localization col-md-3">
                      <a href="#" class="btn btn-info btn-xm">
                                <span class="glyphicon glyphicon-map-marker"></span> Map
                            </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- order lists -->
    </div>
    <!-- left sidebar -->

    <!-- Localication Map Area  -->
    <div class="col-md-9">
      <div class="row-fluid">
        <div class="span8">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3007.304843575064!2d29.0260654!3d41.0841856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57f3b21659c6acfb!2zR0VUxLBS!5e0!3m2!1str!2str!4v1518847436018" width="100%" height="900" frameborder="0"
            style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
