<div ng-controller="loginController">
  <!-- login modal content -->
  <div class="container-login">
    <img src="assets/images/login-background.jpg" alt="" />
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="text-center">Welcome to YapSat</h1>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="username" placeholder="Username" />
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-block btn-lg btn-primary" ng-click="login()" value="Login" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
