<div ng-controller="loginController" class="login">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
    <div class="ui middle aligned center aligned grid">
        <div class="column">
          <h2 class="ui teal image header">
            <img src="assets/images/login.png" class="image">
            <div class="content">
              Log-in to your account
            </div>
          </h2>
          <form class="ui large form">
            <div class="ui stacked segment">
              <div class="field">
                <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" name="text" ng-model="username" placeholder="Username">
                </div>
              </div>
              <div class="ui fluid large teal submit button" ng-click="login()">Login</div>
            </div>
      
            <div class="ui error message"></div>
      
          </form>
        </div>
      </div>
      </div>
      <div class="four wide column"></div>
    </div>
</div>
