
<div ng-controller="sellerController">
    <div class="ui grid">
        <div class="four wide column">
            <div class="column">
              <div class="ui segments  order-list">
                <div class="ui segment">
                    <h4 class="ui header">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" width="25" height="25" class="ui circular image">
                        {{user}} - <button class="mini ui inverted red button" ng-click="logout()"> Oturumu Kapat</button>
                      </h4>
                      
                </div>
                <div class="ui segment">
                  <div class="ui relaxed list">
                      <div ng-repeat="order in orders" class="item">
                        <img class="ui avatar image" src="assets/images/orders/order1.jpg">
                        <div class="content">
                          <a class="header">{{order.foodName}}</a>
                          <div class="description">
                            <label ng-if="order.status" class="mini ui label">Onaylandı</label>
                             <button ng-if="!order.status" class="mini ui green button" ng-click="updateOrderStatus(order.status)">Onayla</button> - <a><b>{{order.username}}</b></a>

                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="eight wide column">
          <div class="row">
            <div class="map"  map-lazy-load="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places" map-lazy-load-params="{{googleMapsUrl}}">
              <ng-map zoom="{{zoom}}" center="{{location}}">
                <marker position="{{location}}"></marker>
                <custom-marker ng-repeat="order in orders" id="{{order.username}}" position="{{order.location}}"  draggable="false">
                    <div class="custom-maker custom-maker_round" ng-click="showDetail(seller.username)">
                        <img src="assets/images/users/{{order.username}}.png" width="50" height="50" alt="seller" />
                      </div>
                </custom-marker>
              </ng-map>
            </div>
          </div>
        </div>
        <div class="four wide column">
            <div id="directions-panel"></div>
        </div>
      </div>
</div>
      