html{
  overflow: hidden;
}
.login {
  margin-top:18rem;
}
.segment{
  max-height: 70%;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  display: none;
}
.map{
  height: 80%;
}
.order-list{
  margin: 7rem  0rem 5rem 2rem !important;
}
#directions-panel{
  height: 70%;
  overflow: scroll;
}

.custom-maker {
  display: inline-block;
  position: relative;
}
.custom-maker img {
  box-shadow: 0 0 0 5px white, 0 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.custom-maker::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12.6px solid white;
  margin-left: -7px;
  -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}
.custom-maker img {
  border-radius: 50%;
}

.marker {
  margin-top: 20px;
  margin-left: 30px;
  position: fixed;
}

.pulse {
  width: 10px;
  height: 10px;
  border: 5px solid rgba(79, 162, 6, 0.44);

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(79, 162, 6, 0.99);
  z-index: 10;
  position: fixed;
}

.dot {
  position: fixed;
  height: 50px;
  width: 50px;
  top: -25px;
  left: -25px;
  z-index: 2;
  opacity: 0;
  border: 10px solid rgba(79, 162, 6, 1);
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes pulse {
 0% {-moz-transform: scale(0);opacity: 0.0;}
 25% {-moz-transform: scale(0);opacity: 0.1;}
 50% {-moz-transform: scale(0.1);opacity: 0.3;}
 75% {-moz-transform: scale(0.5);opacity: 0.5;}
 100% {-moz-transform: scale(1);opacity: 0.0;}
}
